*.iml
.DS_Store
/build
/captures
.externalNativeBuild
/gradle
libs/
src/main/java/com/example/lldong0/webot/MainActivity.java
src/main/java/com/example/lldong0/webot/chat/
src/main/java/com/example/lldong0/webot/helper/
src/main/java/com/example/lldong0/webot/home/
src/main/java/com/example/lldong0/webot/login/
src/main/java/com/example/lldong0/webot/model/Review.java
src/main/java/com/example/lldong0/webot/model/Task.java
src/main/java/com/example/lldong0/webot/model/parse/
src/main/java/com/example/lldong0/webot/note/
src/main/res/drawable-v24/btn_round_gray.xml
src/main/res/drawable-v24/btn_round_white.xml
src/main/res/drawable-v24/ic_assignment.png
src/main/res/drawable-v24/ic_chat_black_24dp.xml
src/main/res/drawable-v24/ic_chat_info.png
src/main/res/drawable-v24/ic_create_24dp.xml
src/main/res/drawable-v24/ic_error_black_24dp.xml
src/main/res/drawable-v24/ic_face_scanner.png
src/main/res/drawable-v24/ic_format_align_left_black_24dp.xml
src/main/res/drawable-v24/ic_home_black_24dp.xml
src/main/res/drawable-v24/ic_search_black_24dp.xml
src/main/res/drawable-v24/ic_work_black_24dp.xml
src/main/res/drawable-v24/select_bottom_navigation.xml
src/main/res/font/
src/main/res/layout/activity_main.xml
src/main/res/layout/activity_write_review.xml
src/main/res/layout/chat_info.xml
src/main/res/layout/chat_select_options2.xml
src/main/res/layout/chat_select_options5.xml
src/main/res/layout/chat_toolbar.xml
src/main/res/layout/fragment_home.xml
src/main/res/layout/fragment_not_login.xml
src/main/res/layout/fragment_task_list.xml
src/main/res/layout/fragment_write_task.xml
src/main/res/layout/review_item.xml
src/main/res/layout/task_item.xml
src/main/res/menu/
